<!DOCTYPE HTML>
<html>
<head>
  <title>JsonEditor</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="../lib/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
  <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../css/jsoneditor-client.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>
  <select id="jsoneditorTextList"></select>
  <div id="actionButtons"></div>
</div>

<div id="jsoneditor"></div>

<div id="submitButtons"></div>

<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/jsoneditor/jsoneditor.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/jsoneditor-client.js"></script>
<script src="js/jsoneditor-loader.js"></script>
</body>
</html>
