<!DOCTYPE HTML>
<html>
<head>
  <title>JsonEditor</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="../editor/lib/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
  <link href="../editor/lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../editor/css/jsoneditor-client.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>
  <select id="jsoneditorTextList"></select>
</div>

<div id="jsoneditor"></div>

<script src="../editor/lib/jquery/jquery.min.js"></script>
<script src="../editor/lib/jsoneditor/jsoneditor.js"></script>
<script src="../editor/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../editor/js/jsoneditor-client.js"></script>
<script src="../editor/js/jsoneditor-loader.js"></script>
</body>
</html>
