<!DOCTYPE HTML>
<html>
<head>
  <title>JsonEditor</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="../lib/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
  <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../css/jsoneditor-client.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper" class="container myeditor">
  <% if (descriptor && descriptor.title) { %>
  <div class="row">
    <div class="col-md-12">
      <h1 id="title"><%= descriptor.title %></h1>
    </div>
  </div>
  <% } %>

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <select id="jsoneditorTextList" class="form-control"></select>
        <div id="actionButtons" class="form-group"></div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="jsoneditor"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="submitButtons"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="messageBox" class="well"></div>
    </div>
  </div>
</div>

<script src="../lib/jquery/jquery.min.js"></script>
<script src="../lib/jsoneditor/jsoneditor.js"></script>
<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/jsoneditor-client.js"></script>
<script src="js/jsoneditor-loader.js"></script>
</body>
</html>
