
.myeditor > [class*='row'] {
    padding-top: 10px;
}

.myeditor .form-inline {
	display: flex;
}

.myeditor select#jsoneditorTextList {
    display: inline-block;
    flex-grow: 1;
    margin-right: 20px;
}

.myeditor div#actionButtons {
  display: inline-block;
}

.myeditor div#submitButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.myeditor #jsoneditor {
  width: 100%;
  height: 500px;
}
